fastapi==0.95.2
uvicorn[standard]==0.22.0
sqlalchemy==2.0.25
pydantic==1.10.14
typing-extensions==4.12.2
python-multipart==0.0.9
email-validator==2.1.0.post1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
psycopg2-binary==2.9.9

